* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px; }

.app {
  height: 100%;
  position: relative; }

@font-face {
  font-family: caveat-bold;
  src: url(fonts/Caveat-Bold.ttf); }

@font-face {
  font-family: caveat-reg;
  src: url(fonts/Caveat-Regular.ttf); }

@font-face {
  font-family: gill-sans;
  src: url(fonts/GillSans.ttf); }

@font-face {
  font-family: gill-italic;
  src: url(fonts/GillSans-Italic.ttf); }

@font-face {
  font-family: gill-italic;
  src: url(fonts/GillSans-light.ttf); }

@font-face {
  font-family: lato-black;
  src: url(fonts/Lato-Black.ttf); }

@font-face {
  font-family: lato-light;
  src: url(fonts/Lato-Light.ttf); }

@font-face {
  font-family: lato-light-italic;
  src: url(fonts/Lato-LightItalic.ttf); }

.home {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(242, 92, 84, 0.5), rgba(242, 92, 84, 0.5)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center; }
  .home .circle-holder {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .home .circle-holder .pink-circle {
      width: 150px;
      height: 150px;
      position: absolute;
      margin-left: 270px;
      margin-top: -300px;
      background-color: #fcbcb8;
      border-radius: 50%;
      z-index: 1;
      padding: 10px; }
      .home .circle-holder .pink-circle p {
        padding: 10px;
        width: 145px;
        height: 75px;
        text-align: center;
        margin: 20px auto;
        font-family: lato-light;
        font-size: 14px; }
    .home .circle-holder .yellow-circle {
      border-radius: 50%;
      background-color: #ffd972;
      width: 300px;
      height: 300px;
      z-index: 2; }
      .home .circle-holder .yellow-circle h1 {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 70px;
        font-family: caveat-bold; }
      .home .circle-holder .yellow-circle p {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 60px;
        margin: 50px auto;
        text-align: center;
        font-family: lato-light; }

@media only screen and (max-width: 768px) {
  .home .circle-holder .pink-circle {
    margin-left: 210px;
    margin-top: -330px; } }

@media only screen and (max-width: 378px) {
  .home .circle-holder .pink-circle {
    margin-left: 160px;
    margin-top: -220px;
    width: 90px;
    height: 90px; }
    .home .circle-holder .pink-circle p {
      width: 85px;
      font-size: 10px;
      margin: -10px auto -10px -8px; }
  .home .circle-holder .yellow-circle {
    width: 200px;
    height: 200px; }
    .home .circle-holder .yellow-circle h1 {
      font-size: 24px; }
    .home .circle-holder .yellow-circle p {
      font-size: 12px;
      margin: 10px auto; } }

.logo {
  background-image: url(../images/logo.svg);
  position: absolute;
  top: 25px;
  left: 50px;
  width: 189px;
  height: 55px;
  background-repeat: none;
  background-size: 189px 55px;
  background-position: center;
  z-index: 1; }

.link-nav {
  width: 680px;
  height: 50px;
  position: absolute;
  top: 25px;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1; }
  .link-nav a {
    text-decoration: none;
    font-family: caveat-reg;
    color: black;
    font-size: 24px; }
  .link-nav .pLinkn {
    text-decoration: none;
    font-family: caveat-reg;
    color: black;
    font-size: 24px; }
  .link-nav span {
    border-radius: 25px;
    background-color: #ffd972;
    width: 100px;
    height: 50px;
    box-shadow: 0px 5px 10px grey; }
    .link-nav span a {
      width: 50px;
      height: 20px;
      position: absolute;
      margin-top: 10px;
      margin-left: 24px;
      font-size: 24px; }
  .link-nav .pName {
    border: none;
    border-radius: 25px;
    background-color: #ffd972;
    width: 115px;
    height: 50px;
    box-shadow: 0px 5px 10px grey;
    font-family: caveat-reg;
    color: black;
    font-size: 22px; }

nav {
  display: none;
  position: absolute;
  top: 25px;
  right: 50px;
  width: 50px;
  height: 50px; }
  nav .fas {
    color: black; }
  nav .nav-links {
    display: flex;
    justify-content: space-evenly; }

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden; }
  .logo {
    z-index: 4; }
  .link-nav {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    background-color: rgba(99, 94, 94, 0.9);
    z-index: 3; }
    .link-nav a {
      font-size: 40px; }
    .link-nav span {
      width: 175px;
      height: 80px;
      border-radius: 55px; }
      .link-nav span a {
        margin-top: 15px;
        margin-left: 50px;
        font-size: 40px; }
  nav {
    display: block;
    z-index: 4; }
    nav .fas {
      z-index: 4; }
  .nav-active {
    transform: translateX(0%);
    background-color: rgba(99, 94, 94, 0.9);
    display: flex; } }

@media only screen and (max-width: 378px) {
  .logo {
    left: 25px;
    z-index: 4; }
  .link-nav {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    background-color: rgba(99, 94, 94, 0.9);
    z-index: 3; }
    .link-nav a {
      font-size: 30px; }
    .link-nav span {
      width: 150px;
      height: 70px;
      border-radius: 55px; }
      .link-nav span a {
        margin-left: 45px;
        font-size: 30px; }
  nav {
    display: block;
    right: 25px;
    top: 35px;
    z-index: 4; }
    nav .fas {
      z-index: 4; }
  .nav-active {
    transform: translateX(0%);
    background-color: rgba(99, 94, 94, 0.9);
    display: flex; } }

footer {
  position: absolute;
  bottom: 15px;
  left: 50px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 2; }
  footer .copyright {
    position: relative;
    bottom: -2px;
    width: 270px;
    font-family: lato-light-italic;
    color: black;
    font-size: 17px; }
  footer .foot-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 600px;
    position: relative;
    bottom: -2px; }
    footer .foot-nav a {
      text-decoration: none;
      font-family: lato-light-italic;
      color: black;
      font-size: 18px; }
    footer .foot-nav .pLink {
      text-decoration: none;
      font-family: caveat-reg;
      color: black;
      font-size: 18px; }
  footer .fb-logo {
    width: 24px;
    height: 24px;
    background-image: url(../images/facebook.svg);
    position: relative;
    left: 25px;
    background-repeat: no-repeat; }
  footer .insta-logo {
    width: 24px;
    height: 24px;
    background-image: url(../images/instagram.svg);
    position: relative;
    background-repeat: no-repeat; }

@media only screen and (max-width: 768px) {
  footer {
    left: 30px; }
    footer .copyright {
      font-size: 14px;
      bottom: 30px;
      left: 25px; }
    footer .foot-nav {
      width: 615px;
      right: 185px; }
      footer .foot-nav a {
        font-size: 14px; }
    footer .fb-logo {
      left: -25px; } }

@media only screen and (max-width: 378px) {
  footer {
    left: 20px; }
    footer .copyright {
      font-size: 11px;
      bottom: 25px; }
    footer .foot-nav {
      width: 360px;
      height: 70px;
      right: 50px; }
      footer .foot-nav a {
        font-size: 11px; }
    footer .fb-logo {
      width: 15px;
      height: 15px;
      left: -10px;
      bottom: 32px; }
    footer .insta-logo {
      width: 15px;
      height: 15px;
      bottom: 32px; } }

.login {
  width: 100%;
  height: 100vh;
  background-color: #ffd972;
  display: flex;
  align-items: center;
  justify-content: center; }
  .login .login-holder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative; }
    .login .login-holder .login-section {
      max-width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly; }
      .login .login-holder .login-section h1 {
        margin-top: 70px;
        font-family: lato-light;
        font-size: 26px;
        margin: 25px;
        position: relative;
        right: 17px; }
      .login .login-holder .login-section .inputSign {
        max-width: 500px;
        border: none;
        border-bottom: 2px black solid;
        background-color: #ffd972;
        font-size: 15px;
        color: black;
        font-family: lato-light;
        padding: 5px;
        margin: 10px; }
      .login .login-holder .login-section .btn {
        border: none;
        border-radius: 25px;
        background-color: #ffd972;
        width: 140px;
        height: 40px;
        box-shadow: 0px 5px 10px grey;
        font-size: 24px;
        font-family: caveat-reg;
        color: black;
        text-transform: capitalize;
        text-decoration: none; }
    .login .login-holder .sign-up {
      max-width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .login .login-holder .sign-up p {
        font-family: lato-light-italic;
        margin: 25px;
        position: relative;
        font-size: 14px;
        top: 50px;
        right: 18px; }
      .login .login-holder .sign-up h1 {
        font-family: lato-light;
        margin: 25px;
        font-size: 26px;
        position: relative;
        right: 34px; }
      .login .login-holder .sign-up .input-sign {
        max-width: 500px;
        border: none;
        border-bottom: 2px black solid;
        background-color: #ffd972;
        font-size: 15px;
        color: black;
        font-family: lato-light;
        padding: 5px;
        margin: 10px; }
      .login .login-holder .sign-up .btn {
        border: none;
        border-radius: 25px;
        background-color: #ffd972;
        width: 140px;
        height: 40px;
        box-shadow: 0px 5px 10px grey; }
        .login .login-holder .sign-up .btn span {
          width: 70px;
          height: 20px;
          position: absolute;
          margin-top: -17px;
          margin-left: -38px;
          font-size: 24px;
          font-family: caveat-reg;
          text-decoration: none;
          color: black; }

@media only screen and (max-width: 768px) {
  .login .login-holder {
    flex-direction: column; } }

@media only screen and (max-width: 378px) {
  .login {
    height: 1000px; }
    .login .login-holder {
      flex-direction: column; }
    .login .loginfoot {
      bottom: -300px; }
      .login .loginfoot .foot-nav a {
        font-size: 12px; } }

.create {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute; }
  .create h1 {
    position: relative;
    top: 95px; }
  .create .recipestuff {
    width: 80%;
    position: relative;
    margin-top: 130px; }
    .create .recipestuff .recipe {
      height: 40px;
      width: 100%;
      margin-top: 20px; }
  .create p {
    margin-top: 10px; }
  .create .form {
    width: 80%;
    position: relative; }
    .create .form input {
      height: 40px;
      width: 100%;
      margin-top: 20px; }
    .create .form .btn {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      color: white;
      background-color: #efa7a7;
      cursor: pointer;
      position: absolute;
      bottom: -5px;
      right: 0; }
  .create .form2 {
    width: 80%;
    position: relative; }
    .create .form2 input {
      height: 40px;
      width: 100%;
      margin-top: 20px; }
    .create .form2 .btn {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      color: white;
      background-color: #efa7a7;
      cursor: pointer;
      position: absolute;
      bottom: -5px;
      right: 0; }
  .create .cRecipe {
    border: none;
    border-radius: 35px;
    background-color: #efa7a7;
    width: 340px;
    height: 50px;
    box-shadow: 0px 5px 10px grey;
    font-size: 24px;
    font-family: caveat-reg;
    color: black;
    text-transform: capitalize;
    text-decoration: none;
    margin-top: 40px;
    margin-bottom: 125px; }

.browse {
  width: 100%;
  height: 110%;
  background-image: linear-gradient(to right, rgba(167, 232, 189, 0.6), rgba(167, 232, 189, 0.6)), url(../images/recipe-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute; }
  .browse h1 {
    font-family: lato-light-italic;
    position: relative;
    left: 100px;
    top: 90px; }
  .browse .browse-cont {
    width: 80%;
    height: 300px;
    position: relative;
    left: 100px;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .browse .browse-cont .recipe {
      width: 530px;
      height: 270px; }
      .browse .browse-cont .recipe .hotdog {
        text-decoration: none;
        text-decoration-color: black;
        color: black; }
      .browse .browse-cont .recipe .img {
        width: 300px;
        height: 260px;
        float: left;
        border-radius: 20px; }
      .browse .browse-cont .recipe .img-1 {
        background-image: url(../images/recipe-pizza.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; }
      .browse .browse-cont .recipe .img-2 {
        background-image: url(../images/recipe-burger.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; }
      .browse .browse-cont .recipe .img-3 {
        background-image: url(../images/recipe-pilaf.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; }
      .browse .browse-cont .recipe .img-4 {
        background-image: url(../images/recipe-chowmein.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; }
      .browse .browse-cont .recipe .text-holder {
        width: 230px;
        height: 260px;
        background-color: white;
        float: right;
        border-radius: 20px; }
        .browse .browse-cont .recipe .text-holder h2 {
          max-width: 180px;
          height: 27px;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          font-size: 18px;
          margin: 10px auto;
          border-bottom: 3px black solid;
          margin-bottom: 15px;
          font-family: lato-light;
          text-decoration: none;
          color: black; }
        .browse .browse-cont .recipe .text-holder p {
          width: 170px;
          min-height: 60px;
          margin: 0 auto;
          font-size: 13px;
          font-family: lato-light;
          text-decoration: none;
          color: black; }
        .browse .browse-cont .recipe .text-holder .time {
          width: 120px;
          height: 25px;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          margin-top: 20px;
          text-decoration: none; }
          .browse .browse-cont .recipe .text-holder .time .thesvg {
            float: left;
            height: 23px;
            width: 23px;
            background-image: url(../images/time.svg); }
          .browse .browse-cont .recipe .text-holder .time .time-text {
            font-family: lato-light;
            text-decoration: none; }
        .browse .browse-cont .recipe .text-holder .servings {
          width: 120px;
          height: 25px;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          margin-top: 10px; }
          .browse .browse-cont .recipe .text-holder .servings .thesvg2 {
            float: left;
            height: 23px;
            width: 23px;
            background-image: url(../images/servings.svg); }
          .browse .browse-cont .recipe .text-holder .servings .serving {
            font-family: lato-light; }

@media only screen and (max-width: 768px) {
  .browse {
    height: 135%; }
    .browse .browse-cont {
      flex-direction: column;
      height: 550px; } }

@media only screen and (max-width: 378px) {
  .browse {
    height: 205%; }
    .browse h1 {
      font-size: 19px;
      left: 15px;
      top: 100px; }
    .browse .browse-cont {
      flex-direction: column;
      height: 550px;
      left: 40px; }
      .browse .browse-cont .recipe {
        width: 350px; }
        .browse .browse-cont .recipe .img {
          width: 180px;
          height: 220px; }
        .browse .browse-cont .recipe .text-holder {
          width: 160px;
          height: 220px; }
          .browse .browse-cont .recipe .text-holder h2 {
            font-size: 12px; }
          .browse .browse-cont .recipe .text-holder p {
            width: 120px;
            min-height: 60px;
            font-size: 10px; }
          .browse .browse-cont .recipe .text-holder .time {
            margin-top: 10px;
            width: 120px;
            height: 25px; }
            .browse .browse-cont .recipe .text-holder .time .thesvg {
              width: 12px;
              height: 12px; }
            .browse .browse-cont .recipe .text-holder .time .time-text {
              font-size: 10px; }
          .browse .browse-cont .recipe .text-holder .servings {
            margin-top: 3px; }
            .browse .browse-cont .recipe .text-holder .servings .thesvg2 {
              width: 12px;
              height: 12px; }
            .browse .browse-cont .recipe .text-holder .servings .serving {
              font-size: 10px; } }

.foods {
  width: 100%;
  height: 150%;
  position: absolute; }
  .foods .top-half {
    width: 70%;
    height: 400px;
    position: relative;
    margin-bottom: 45px;
    top: 110px;
    left: 90px; }
    .foods .top-half .img-box {
      float: left;
      width: 400px;
      top: -50px; }
      .foods .top-half .img-box h1 {
        font-family: lato-light-italic;
        position: relative;
        left: -80px;
        top: 65px;
        height: 40px;
        width: 300px;
        transform: rotate(-90deg); }
      .foods .top-half .img-box .food-img {
        width: 300px;
        height: 300px;
        background-color: black;
        float: right;
        position: relative;
        top: -55px; }
    .foods .top-half .text-cont {
      width: 400px;
      height: 300px;
      float: right; }
      .foods .top-half .text-cont h2 {
        font-family: lato-light; }
      .foods .top-half .text-cont p {
        font-family: lato-light; }
      .foods .top-half .text-cont h3 {
        font-family: lato-light; }
      .foods .top-half .text-cont p {
        font-family: lato-light; }
  .foods .ingredients {
    width: 75%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 25px; }
    .foods .ingredients h2 {
      font-family: lato-light; }
    .foods .ingredients p {
      font-family: lato-light; }
  .foods .instructions {
    width: 75%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 50px; }
    .foods .instructions h2 {
      font-family: lato-light; }
    .foods .instructions p {
      font-family: lato-light; }

@media only screen and (max-width: 768px) {
  .foods {
    height: 140%; }
    .foods .top-half .text-cont {
      position: relative;
      right: 80px;
      margin-bottom: 80px; }
    .foods .ingredients {
      left: 50px; }
    .foods .instructions {
      left: -10px;
      width: 60%; } }

@media only screen and (max-width: 378px) {
  .foods {
    height: 225%; }
    .foods .top-half {
      left: 0px; }
      .foods .top-half .img-box {
        float: left;
        width: 400px;
        top: -50px; }
        .foods .top-half .img-box h1 {
          top: 15px; }
        .foods .top-half .img-box .food-img {
          width: 180px;
          height: 180px;
          left: -120px; }
      .foods .top-half .text-cont {
        width: 280px;
        position: relative;
        left: 80px;
        margin-bottom: 100px; }
    .foods .ingredients {
      left: 14px; } }
