// heres the footer code
footer {
  position: absolute;
  bottom: 15px;
  left: 50px;
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 2;

  //   this is the copyright label they had in the bottom left of the site
  .copyright {
    position: relative;
    bottom: -2px;
    // left: 50px;
    width: 270px;
    font-family: lato-light-italic;
    color: black;
    font-size: 17px;
  }
  //   the quick access foot nav with some of the recipe tags out of it for now since the user is not logged in
  .foot-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 600px;
    position: relative;
    bottom: -2px;
    // left: 20px;

    // The styling for the a tags
    a {
      text-decoration: none;
      font-family: lato-light-italic;
      color: black;
      font-size: 18px;
    }
    .pLink {
      text-decoration: none;
      font-family: caveat-reg;
      color: black;
      font-size: 18px;
    }
  }
  //   these are the social media logos that are positioned in the bottom right
  .fb-logo {
    width: 24px;
    height: 24px;
    background-image: url(../images/facebook.svg);
    position: relative;
    // bottom: 25px;
    left: 25px;
    background-repeat: no-repeat;
  }
  .insta-logo {
    width: 24px;
    height: 24px;
    background-image: url(../images/instagram.svg);
    position: relative;
    background-repeat: no-repeat;
    // bottom: 25px;
    // left: 25px;
  }
}

// The media scaling for each device changing the sizes of everything to keep the same look and clear ability to read
@media only screen and (max-width: 768px) {
  footer {
    left: 30px;
    .copyright {
      font-size: 14px;
      bottom: 30px;
      left: 25px;
    }
    .foot-nav {
      width: 615px;
      right: 185px;
      a {
        font-size: 14px;
      }
    }
    .fb-logo {
      left: -25px;
    }
    .insta-logo {
    }
  }
}

@media only screen and (max-width: 378px) {
  footer {
    left: 20px;
    .copyright {
      // width: 200px;
      font-size: 11px;
      bottom: 25px;
      // left: 25px;
    }
    .foot-nav {
      width: 360px;
      height: 70px;
      // bottom: 15px;
      right: 50px;
      a {
        font-size: 11px;
      }
    }
    .fb-logo {
      width: 15px;
      height: 15px;
      left: -10px;
      bottom: 32px;
    }
    .insta-logo {
      width: 15px;
      height: 15px;
      // right: -315px;
      bottom: 32px;
    }
  }
}
